<!DOCTYPE <!DOCTYPE html>
<html lang="pt-br">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div id='app'>
        <h1>Concdicionais v3</h1>
        <div v-if='logado'>
            <p>usuario logado</p>
            <p>Nome do usuario: {{nome}}</p>
        </div>
        <p v-else>
            <span>Usuario nao logado </span>
        </p>
        <butto @click="logado=!logado">{{logado}}</button>
            '<input type="checkbox" v-model='anonimo'>'

</body>
<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'david',
            logado: true
        },
        methods: {

        }
    })
</script>

</html>